.footer {
  width: 100%;
  height: 100px;
  background-color: $color-primary;
}
.footer__content {
  width: 1200px;
  height: 100px;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}
.footer-logo {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  transition: all .5s ease;
}
.footer-logo:hover {
  background-color: $color-link;
}
.footer-link {
  font-size: 2.4rem;
  color: $color-link;
}
.author {
  font-size: 1.4rem;
}
