.page-container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.block {
  width: 350px;
  height: 100px;
  background-color: #5e5842;
}
.display-flex {
  display: flex;
  gap: 10px;
}
