@font-face {
   font-family: 'Roboto';
   src: url("../fonts/Robotothin.ttf");
   font-weight: 100;
}

@font-face {
   font-family: 'Roboto';
   src: url("../fonts/Roboto.ttf");
   font-weight: 300;
}